.ColorBox {
	width: 20%;
	height: 25%;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-bottom: -3.5px;
}

.SingleColorPalette .ColorBox {
	height: 50%;
}

/* Should come from responsive sizes library, but solution is not supported anymore */
@media (max-width: 1199.98px) {
	.ColorBox {
		width: 25%;
		height: 20%;
	}

	.SingleColorPalette .ColorBox {
		height: 33.3333%;
	}
}

@media (max-width: 767.98px) {
	.ColorBox {
		width: 50%;
		height: 10%;
	}

	.SingleColorPalette .ColorBox {
		height: 20%;
	}
}

@media (max-width: 575.98px) {
	.ColorBox {
		width: 100%;
		height: 5%;
	}

	.SingleColorPalette .ColorBox {
		height: 10%;
	}

	.copy-msg h1 {
		font-size: 5rem;
	}
}

.ColorBox.go-back {
	background-color: black;
}

.copy-button,
.back-button {
	width: 100px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -15px;
	/* STH TO TRY transform: translateX(-50%) translateY(-50%); */
	text-align: center;
	outline: none;
	background: rgba(255, 255, 255, 0.3);
	font-size: 1rem;
	line-height: 30px;
	color: white;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.copy-button {
	opacity: 0;
}

.ColorBox:hover .copy-button {
	opacity: 1;
	transition: opacity 250ms ease-in;
}

.box-content {
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	color: black;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 12px;
}

.ColorBox .light-text {
	color: white;
}

.ColorBox .dark-text {
	color: rgba(0, 0, 0, 0.5);
}

.see-more {
	background: rgba(255, 255, 255, 0.3);
	border: none;
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: white;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	text-transform: uppercase;
}

.copy-overlay {
	opacity: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	transition: transform 600ms ease-in-out;
	transform: scale(0.1);
}

.copy-overlay.show {
	opacity: 1;
	transform: scale(50);
	z-index: 10;
	position: absolute;
}

.copy-msg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 4rem;

	transform: scale(0.1);
	opacity: 0;
	color: white;
	transition: all 400ms ease-in-out;
	transition-delay: 300ms;
}

.copy-msg.show {
	transform: scale(1);
	opacity: 1;
	color: white;
	z-index: 25;
}

.copy-msg h1 {
	font-weight: 400;
	text-shadow: 1px 2px black;
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	padding: 1rem;
	text-transform: uppercase;
}

.copy-msg p {
	font-size: 2rem;
	font-weight: 100;
}
