.PaletteList-root {
	background-color: #3442a5;
	background-image: url("./styles/bg.svg");
	/* background by SVGBackgrounds.com */
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	overflow: scroll;
}

.PaletteList-container {
	width: 50%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}

@media (max-width: 1400px) {
	.PaletteList-container {
		width: 80%;
	}
}

@media (max-width: 575.98px) {
	.PaletteList-container {
		width: 75%;
	}
}

.PaletteList-nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.PaletteList-title {
	font-size: 2rem;
}

.PaletteList-nav a {
	color: white;
	text-decoration: none;
	font-size: 16;
}

.PaletteList-palettes {
	box-sizing: border-box;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}

@media (max-width: 991.98px) {
	.PaletteList-palettes {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 575.98px) {
	.PaletteList-palettes {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* TransitionGroup */
.PaletteListFade-exit {
	opacity: 1;
}
.PaletteListFade-exit-active {
	opacity: 0;
	transition: opacity 500ms ease-out;
}
